@*<MudContainer Class="mt-5">
    <MudPaper Elevation="3" Class="pa-4" Width="350%">
        <MudGrid>
            <MudItem xs="12" >
                <label for="agregar_cliente" style="color: rgb(0,150,136)" class="bmd-label-floating">Código:&nbsp;@codigoMandado</label>
            </MudItem>
            <MudItem xs="12" >
                <label for="agregar_cliente" style="color: rgb(0,150,136)" class="bmd-label-floating">Artículo:&nbsp;@articuloMandado</label>
            </MudItem>
            <MudItem xs="12">
                <MudImage Src="@rutaMandada" Alt="Mony the dog" Elevation="25" Class="rounded-lg" Width="350" Height="300" />
            </MudItem>
            
        </MudGrid>    
    </MudPaper>
</MudContainer>*@
    
<MudDialog>
    <DialogContent>
        @*<MudText>@codigoMandado &nbsp; @articuloMandado</MudText>*@
        <MudImage Src="@rutaMandada" Alt="Mony the dog" Elevation="25" Class="rounded-lg" Width="350" Height="300" />
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Cancel">Cerrar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }


    [Parameter]
    public string rutaMandada { get; set; }
    [Parameter]
    public string codigoMandado { get; set; }
    [Parameter]
    public string articuloMandado { get; set; }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
}
